<html>
<head>
<title>Mule HTTP Basic Authentication Example</title>
</head>
<body>
<h1>Mule HTTP Basic Authentication Example</h1>
<p>This project shows examples on how to use HTTP Basic Authentication both for inbound and outbound HTTP endpoints</p>
<ul>
<li><a href="/secured">Access secured resource</a></li>
<li><a href="/backdoor">Access secured resource using the backdoor</a></li>
</ul>
</body>
</html>